.header-background {
    position: absolute;
    z-index: 0;
    opacity: 0.05;
    max-width: 100%;
    max-height: 34%;
    top: 62%;
    left: 12%;
}

.food-photo {
    height: auto; 
    width: auto; 
    display: block; 
    max-width: 600px; 
    max-height: 400px; 
    margin-left: auto; 
    margin-right: auto;
}

.add-recipe-content {
    background-image: url("/assets/1959517-trnsp.png");
    background-color: #e9ecef;
    background-size: cover;
}

.add-recipe-form-row {
    margin-top: 20px;
}

.form-span {
    min-width: 135px;
}

.food-modal {
    -webkit-transition: 1s -webkit-filter ease-in-out !important;
    -o-transition: 1s -o-filter ease-in-out !important;
    transition: 1s filter ease-in-out !important;
}

.modal-blur {
    filter: blur(8px)
}