<img class="header-background" src="/assets/1959517.png">
<section class="jumbotron text-center" >
    
    <div class="container above-background">
        <h1 class="jumbotron-heading above-background">Welcome to Food Chooser!</h1>
        <p class="lead above-background">The app that will help you decide what you want to eat </p>
        <p class="above-background">
          <a  href="#" class="btn btn-primary my-2 above-background" [routerLink]="'/choose'">Launch choosing wizard</a> Or you can 
          <button href="#" class="btn btn-secondary my-2 above-background" (click)="browse()">Browse our food catalogue</button>
        </p>
    </div>
</section>
<app-food-list></app-food-list>
      